<main class="formMain">
      <h1>Sign Up</h1>

      <form action="/signup" method="POST" class="form">
      <!-- First Name -->
      <label for="firstname">First Name</label>
      <input id="firstname" type="text" name="firstname"
             value="<%= oldInput ? oldInput.firstname : '' %>" required />
      <% if (errors && errors.firstname) { %>
        <p class="error"><%= errors.firstname %></p>
      <% } %>

      <!-- Last Name -->
      <label for="lastname">Last Name</label>
      <input id="lastname" type="text" name="lastname"
             value="<%= oldInput ? oldInput.lastname : '' %>" required />
      <% if (errors && errors.lastname) { %>
        <p class="error"><%= errors.lastname %></p>
      <% } %>

      <!-- Username -->
      <label for="username">Username</label>
      <input id="username" type="text" name="username"
             value="<%= oldInput ? oldInput.username : '' %>" required />
      <% if (errors && errors.username) { %>
        <p class="error"><%= errors.username %></p>
      <% } %>

      <!-- Password -->
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required />
      <% if (errors && errors.password) { %>
        <p class="error"><%= errors.password %></p>
      <% } %>

      <button type="submit" class="subBtn">Sign Up</button>
    </form>

</main>
